[submodule "app/Plugin/DebugKit"]
	path = app/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "vendors/dbunit"]
	path = vendors/dbunit
	url = git://github.com/sebastianbergmann/dbunit.git
[submodule "vendors/php-code-coverage"]
	path = vendors/php-code-coverage
	url = git://github.com/sebastianbergmann/php-code-coverage.git
[submodule "vendors/php-file-iterator"]
	path = vendors/php-file-iterator
	url = git://github.com/sebastianbergmann/php-file-iterator.git
[submodule "vendors/php-text-template"]
	path = vendors/php-text-template
	url = git://github.com/sebastianbergmann/php-text-template.git
[submodule "vendors/php-timer"]
	path = vendors/php-timer
	url = git://github.com/sebastianbergmann/php-timer.git
[submodule "vendors/php-token-stream"]
	path = vendors/php-token-stream
	url = git://github.com/sebastianbergmann/php-token-stream.git
[submodule "vendors/phpunit-mock-objects"]
	path = vendors/phpunit-mock-objects
	url = git://github.com/sebastianbergmann/phpunit-mock-objects.git
[submodule "vendors/phpunit-selenium"]
	path = vendors/phpunit-selenium
	url = git://github.com/sebastianbergmann/phpunit-selenium.git
[submodule "app/Plugin/TimeZone"]
	path = app/Plugin/TimeZone
	url = git@github.com:simkimsia/TimeZone.git
[submodule "app/Plugin/Handleize"]
	path = app/Plugin/Handleize
	url = git@github.com:simkimsia/Handleize.git
[submodule "app/Plugin/Visible"]
	path = app/Plugin/Visible
	url = git@github.com:simkimsia/Visible.git
[submodule "app/Vendor/phpThumb"]
	path = app/Vendor/phpThumb
	url = git@github.com:simkimsia/phpThumb-for-cakephp-2.0.git
[submodule "app/Plugin/MeioDuplicate"]
	path = app/Plugin/MeioDuplicate
	url = git@github.com:simkimsia/MeioDuplicate.git
[submodule "app/Plugin/Copyable"]
	path = app/Plugin/Copyable
	url = git@github.com:simkimsia/copyable_behavior.git
[submodule "app/Plugin/AclExtras"]
	path = app/Plugin/AclExtras
	url = git@github.com:markstory/acl_extras.git
[submodule "app/Plugin/ClearCache"]
	path = app/Plugin/ClearCache
	url = git@github.com:simkimsia/ClearCache.git
[submodule "app/Plugin/UtilityLib"]
	path = app/Plugin/UtilityLib
	url = git@github.com:simkimsia/UtilityLib.git
[submodule "app/Plugin/Migrations"]
	path = app/Plugin/Migrations
	url = https://github.com/CakeDC/migrations.git
[submodule "app/Plugin/Payments/Vendor/AktiveMerchant"]
	path = app/Plugin/Payments/Vendor/AktiveMerchant
	url = git@github.com:simkimsia/Aktive-Merchant.git
[submodule "app/Vendor/RedBean"]
	path = app/Vendor/RedBean
	url = git@github.com:simkimsia/redbean.git
[submodule "mainsite/Plugin/DebugKit"]
	path = mainsite/Plugin/DebugKit
	url = git://github.com/cakephp/debug_kit.git
[submodule "mainsite/Plugin/ClearCache"]
	path = mainsite/Plugin/ClearCache
	url = git@github.com:simkimsia/ClearCache.git
[submodule "mainsite/Plugin/Handleize"]
	path = mainsite/Plugin/Handleize
	url = git@github.com:simkimsia/Handleize.git
[submodule "mainsite/Plugin/Copyable"]
	path = mainsite/Plugin/Copyable
	url = git@github.com:simkimsia/copyable_behavior.git
[submodule "mainsite/Plugin/UtilityLib"]
	path = mainsite/Plugin/UtilityLib
	url = git@github.com:simkimsia/UtilityLib.git
[submodule "mainsite/Plugin/Visible"]
	path = mainsite/Plugin/Visible
	url = git@github.com:simkimsia/Visible.git
[submodule "mainsite/Vendor/phpThumb"]
	path = mainsite/Vendor/phpThumb
	url = git@github.com:simkimsia/phpThumb-for-cakephp-2.0.git
[submodule "mainsite/Plugin/MeioDuplicate"]
	path = mainsite/Plugin/MeioDuplicate
	url = git@github.com:simkimsia/MeioDuplicate.git
