dd.payment {
	border: 0 none;

	padding: 0;
	margin: 0;
}
a.actions {
	font-weight:normal;
	padding: 4px 8px;
	background:#e6e49f;
	background: -webkit-gradient(linear, left top, left bottom, from(#f1f1d4), to(#e6e49f));
	background-image: -moz-linear-gradient(top, #f1f1d4, #e6e49f);
	color:#333;
	border:1px solid #aaac62;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
	text-decoration:none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
}

.new-rate-table {
	background:none repeat scroll 0 0 #EFEFEF;
	border-top:1px solid #CCCCCC;
	padding:10px 0;
	width:100%;
}

td.new-rate {
	padding-bottom:10px;
	vertical-align:top;
}

td.new-rate input {
	margin:0;
	padding:0;
	font-size: 100%;
	width: auto;
}

.rate-weight {
	padding-left:15px;
	width:155px;
}

.rate-price {
	width:100px;
}

/**
 * this is for the dropdown menu effect in admin
 * see this http://www.noupe.com/tutorial/drop-down-menu-jquery-css.html
**/
.govern{display: none;} 
ul.topnav {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	float: right;
	font-size: 1.2em;
}
ul.topnav li {
	background:url("../img/admin/arrow2.png") no-repeat scroll right 19px;
	float: left;
	margin: 0;
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base for sub navigation--*/
}
ul.topnav li a{
	padding: 0 0 0 9px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}

ul.topnav li a strong {
	padding: 12px 25px 10px 10px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover, ul.topnav li.active a{
	background: url("../img/admin/topnav_left.png") no-repeat left bottom;
	color:#363636;
	text-shadow:0 1px 0 #FFF;
}
ul.topnav li a:hover strong, ul.topnav li.active a strong{background: url("../img/admin/topnav_right.png") no-repeat right bottom;color:#363636;text-shadow:0 1px 0 #FFF;}


ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 40px;
	float: left;
	background: url("../img/admin/arrow.png") no-repeat left center ;
}
ul.topnav li span.subhover {background: url("../img/admin/topnav_hover.png") no-repeat right bottom ; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul#subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 2px;*left: 0px;
	top: 41px;
	background: #ccc;
	margin: 0; padding: 0;
	float: left;
	width: 170px;
}
ul.topnav li.first ul#subnav{ right:5px; left:auto;}
ul.topnav li ul#subnav li{
	margin: 0; padding: 0;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	clear: both;
	width: 170px;
}
html ul.topnav li ul#subnav li a {
	background:url("../img/admin/subnav.png") repeat-x scroll;
	float:left;
	height:42px;
	line-height:42px;
	padding-left:0;
	width:170px;
}
html ul.topnav li ul#subnav li a:hover { /*--Hover effect for subnav links--*/
	background:#95a8c1;
	color:#fff;
	text-shadow:#000 0px 1px 0px;
}
ul#subnav li a {
	color:#363636;
	text-shadow: #fff 0px 1px 0px;
	font-weight:normal;
}

/** end of dropdown menu **/
/* styles added by Maxim (rhinoda) */
.td_with_bottom_border{
    border-bottom-color: #555555;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}
.th_without_bottom_border
{
border-bottom-width: 0px;
}
.table_with_border
{
  border: 1px solid black;
  
}
.table_without_bottom_border th
{
  border: 0px;
}
.table_text_align th,.table_text_align td
{
text-align:center;
}
.tr_white,.tr_white td
{
  border: 0px;  
  background-color: white !important;
}
/*tr.altrow td
{
 //background-color: white !important;
}*/
div.products_index
{
  float:left;
  border-left:0px;
  padding-left:4%;
  text-align:center;
}
div.products_index form 
{
  text-align:left;
}
table.product_list
{
  border:1px solid black;
  margin-left:40px;
}

table.product_list th, table.order_list th
{
  background-color: #F5F5F5;
}
.clear_none, .clear_none input
{
  clear:none;
}
.product_submit .submit
{
  width:200px;
  clear: none;
  float: left;
}
.product_submit .cancel
{
  clear: none;
  margin-top:16px;
}
.product_submit .cancel a
{
  margin-left:22px;
}